{% load static %}

<style>
.navs-wrapper {

 
  background-color:white;
  box-shadow:10px -10px 50px 5px blue;
}
</style>

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    
  
    <ul class="nav flex-column">
 
      <div class="row">
      <li class="nav-item">
        <a class="nav-link active" href="#">
          <span data-feather="home"></span>
          <div class="row">
            <div class="col-md-10">
            Thematic Areas <span class="sr-only">(current)</span>
           </div>
           <div class="col-md-2">
            <i class="fa fa-home"></i> 
           </div>
          </div>
        </a>
        
      </li>
      <li class="nav-item">
        
        <div class="row" class="nav-link">
          <div class="col-md-2">
            <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers align-text-bottom" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
          </div>
          </div>
          <div class="col-md-8" style="color:blue">
          <a href="{% url 'main' %}"> SRHR </a>
          </div>
          </div>
       
      </li>
      <li class="nav-item">
        
        <div class="row" class="nav-link">
          <div class="col-md-2">
            <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers align-text-bottom" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
          </div>
          </div>
          <div class="col-md-8" style="color:blue">
          <a href="{% url 'hiv-tb' %}"> HIV/TB </a>
          </div>
          </div>
       
      </li>
      <li class="nav-item">
        
        <div class="row" class="nav-link">
          <div class="col-md-2">
            <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers align-text-bottom" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
          </div>
          </div>
          <div class="col-md-8" style="color:blue">
          <a href="{% url 'wlpr' %}"> WLPR </a>
          </div>
          </div>
       
      </li>
      <li class="nav-item">
        
        <div class="row" class="nav-link">
          <div class="col-md-2">
            <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers align-text-bottom" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
          </div>
          </div>
          <div class="col-md-8" style="color:blue">
          <a href="#"> SILU </a>
          </div>
          </div>
       
      </li>
      <li class="nav-item">
        
        <div class="row" class="nav-link">
          <div class="col-md-2">
            <div class="container">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers align-text-bottom" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
          </div>
          </div>
          <div class="col-md-8" style="color:blue">
          <a href="{% url 'hg' %}"> H&G</a>
          </div>
          </div>
       
      </li>
      </div>

     
     
    </ul>
     
  </div>
    

 
</nav>

